<!DOCTYPE html>
<html>

  <head>
    <link href="../styles/popup.css" rel="stylesheet"/>
  </head>

  <body>
    <div id="main-view">
      <!-- <div class='card panel>
        <div id='plan-header data-toggle="collapse" data-target'>
          <div class="panel-body collapse show">
            <table class='table table-hover'>
              <tr class='table table-body'>
                <td>cred name</td><td><button><svg></button></td>
              </tr>
            </table>
          <div>
        </div>
      </div> -->
    </div>

    <script src="../lib/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <script src="../lib/bootstrap.bundle.min.js"></script>

    <script src="../src/popup.js" type="text/javascript"></script>
  </body>

</html>