<!DOCTYPE html>
<html>

  <head>
    <link href="../styles/popup.css" rel="stylesheet"/>
  </head>

  <body>
    <div class="main-view" id="main-view">
      <div class='panel'>
        <div id='panel-heading'>
          <div class="panel-body">
            <table class='table-credentials table-basic'>
              <tbody class='table table-body'>
                <!-- <tr>, each <td icon, name, and menu>-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="../lib/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <script src="../lib/bootstrap.bundle.min.js"></script>

    <script src="../src/popup.js" type="text/javascript"></script>
  </body>

</html>